.fondo__index{
    background-image: url(./imagenes/justicia.jpg);
    background-repeat: no-repeat;
    height: 400px;
    
}
.fondo__nosotros{
    background-image: url(./imagenes/columnas.jpg);
    background-repeat: no-repeat;
}
.cabecera{
    background-color:rgba(19, 13, 44, 0.637);
    height: 150px;
}

.nav-link{
    font-size: 18px;
    font-weight: bold;
    color: white;   
}

section{
    height: 450px;
    background-image: url(./imagenes/justicia.png);
    background-repeat: no-repeat;
}
.text__contenedor{
    margin-top: 40px;
    margin-left: 130px;
    background-color: rgba(3, 3, 77, 0.336);
    color: white;
    font-weight: bold;
    font-size: 18px;
    
}
.text__contenedor a{
    text-decoration: none;
}
.section a{
    color: gold;
    padding: 5px;
    border: solid 1px;
    margin-left: 225px;
    
}
.footer__logo{
    width: 40%;

}
/* /.footer{
    background-color:rgba(19, 13, 44, 0.637);
    position: relative;
    bottom: 65px;
    height: 110px;
    
    
}
.footer__nosotros{
    position: relative;
    bottom: 0px;
    background-color:rgba(19, 13, 44, 0.637);
}
.row__footer{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    align-content: end;
}
.col-lg-4{
    color: white;
    
}
.col-lg-6{
    color: white;
    font-size: 10px;
    padding: 30px;
    
}
.footer__logo{
    width: 80%;
}
.fotos__nosotras{
    width: 200px;
}
.nosotras p{
    color: white;
    background-color: rgba(3, 3, 77, 0.568);
}
.nombre__nosotras{
    color: white;
}
.nosotras h1{
    color: white;
}