.fondo__index{
    background-image: url(./imagenes/justicia.jpg);
    background-repeat: no-repeat; 
}
.fondo__nosotros{
    background-image: url(./imagenes/columnas.jpg);
    background-repeat: no-repeat;
    
}
.cabecera{
    background-color:rgba(25, 19, 51, 0.651);
    height: 150px;
}
.navbar{
    flex-wrap: nowrap;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: rgba(255, 255, 255, 0.733);
}
.nav-item a{
    font-size: 18px;
    font-weight: bold;
}
.d-flex{
    justify-content: space-between;
}
.section__text{
    margin-top: 40px;
    background-color: rgba(3, 3, 77, 0.336);
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.section{
    margin-bottom: 2rem;
    min-height: 53vh;
}
.row{
    --bs-gutter-x: 0rem;
}
.section__text a{
    text-decoration: none;
}
.section a{
    color: gold;
    padding: 5px;
    border: solid 1px;
    margin-left: 225px;
    
}
.footer__logo{
    width: 100px;
    padding: 10px;
}
.footer{
    background-color:rgba(25, 19, 51, 0.651); 
}
.footer__nosotros{
    bottom: 0px;
    background-color:rgba(19, 13, 44, 0.637);
}
.row__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__contactos{
    display: flex;
    color: white;
    font-size: 10px;  
}
.footer__contactos i{
    padding: 3px;
}
.footer__redes{
    color: white;
}
.fotos__nosotras{
    width: 200px;
    height: 200px;
    
}
.div__nosotras{
    background-color: white;
    margin: 10px;
    padding: 15px;
}
@media only screen and (max-width:750px){   
    .footer__logo{
        width: 40%;
    }
}
